.header{
    margin-bottom:16px
}
.header{
   color: steelblue;

}
.bp3-icon.bp3-icon-document{
    color: steelblue;
}
.bp3-icon.bp3-icon-home{
    color: steelblue;
}
.bp3-button-text{
    color: steelblue;
}