.titulo1home{
    text-align: center;
    color: rgb(176, 7, 182);
    font-size: 44px;  
}
.titulo2home{
    color: #dbddd4;
    background-color: slateblue;
    text-align: center;
    font-size:22px;
}
